<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
  	<script src="https://use.fontawesome.com/0d5a1e1498.js"></script>
    <style>
    body {
      background-color: lavender;
      font-size: 24px;
      font-family: Baloo Tamma;
      text-align: center;
    }
    h1 {
      font-size: 65px;
    }
    h5 {
      font-size: 17px;
      margin-top: 0px;
    }
    .red {color:red;}
    .orange {color:orange;}
    .yellow {color:yellow;}
    .green {color:green;}
    .blue {color:blue;}
    .violet {color:violet;}
    i:hover {
      color: white;
    }
    #computer_screen{
      top: 100px;
      background-color: black;
      color: limegreen;
      font-family: Courier;
      font-size: 18px;
      width: 350px;
      height: 200px;
      margin: 0 auto;
      position: relative;
      overflow: auto;
    }
    #computer{
      background-image: url("/lappy.jpg");
      width:700px;
      height:450px;
      margin: auto;
    }
  	</style>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  </head>
  <body>
 

  <div style="position:relative; top:20px; width:800px; margin: auto;">

   <h1> MASTERMIND </h1>

   <% unless game_started %>

   <div id="new_game" style="display:flex; margin:0 auto; width: 300px;">
   <div id="create" style="margin:0 auto;">
   <i class="fa fa-plus fa-5x" id="create-button" title="create a code for the computer to guess" aria-hidden="true"></i><br>
   create
   </div>
   <div id="guess" style="margin:0 auto;">
   <i class="fa fa-question-circle fa-5x" id="guess-button" title="guess a code" aria-hidden="true"></i><br>
   guess
   </div>

   </div>

   <%end%>
 

   <div id="new_code" style="display:none;">
   
   <form>
  click the colors to make a code: <br>

<i class="fa fa-circle red fa-2x" id="r" aria-hidden="true"></i>
<i class="fa fa-circle orange fa-2x" id="o" aria-hidden="true"></i>
<i class="fa fa-circle yellow fa-2x" id="y" aria-hidden="true"></i>
<i class="fa fa-circle green fa-2x" id="g" aria-hidden="true"></i>
<i class="fa fa-circle blue fa-2x"  id="b" aria-hidden="true"></i>
<i class="fa fa-circle violet fa-2x" id="v" aria-hidden="true"></i>

<h5>(four colors only, duplicates allowed)</h5><input type="text" id ="code_input" name="user-code" minlength="4" maxlength="4" > 
  <button type="submit" id="new_code_submit" class="btn btn-primary">
    submit
  </button>
  </form>
   </div>

   
   <div id="new_guess_game" style="display:none;">
     <form>

    click the colors to enter a guess: <br>
    <i class="fa fa-circle red fa-2x" id="r" aria-hidden="true"></i>
<i class="fa fa-circle orange fa-2x" id="o" aria-hidden="true"></i>
<i class="fa fa-circle yellow fa-2x" id="y" aria-hidden="true"></i>
<i class="fa fa-circle green fa-2x" id="g" aria-hidden="true"></i>
<i class="fa fa-circle blue fa-2x"  id="b" aria-hidden="true"></i>
<i class="fa fa-circle violet fa-2x" id="v" aria-hidden="true"></i>
<br>
<input type="text" name="code-guess" id="guess_code" maxlength="4"> 
    <button type="submit" class="btn btn-primary" id="new_guess_submit">
      submit
    </button><br>
    <h5>(the code is 4 colors, there can be duplicates)</h5>
    </form>
  </div>

  <% if game_type == "computer" %>
  <div id="computer_guess_game" style="width:800px; text-align: center;">
  the computer shall guess your code now:
  <div id="computer">
  <div id="computer_screen">
  <% computer_output.each do |line| %>
    <% parser = line.split(' ') %>
    <% parser.each do |word| %>
      <% if !word.include?("\"")%>
        <%= word %>
      <%else%>
        <% if word.include?('r') %>
          <i class="fa fa-circle red" id="r" aria-hidden="true"></i>
        <%elsif word.include?('o') %>
          <i class="fa fa-circle orange" aria-hidden="true"></i>
          <%elsif word.include?('y') %>
          <i class="fa fa-circle yellow" aria-hidden="true"></i>
          <%elsif word.include?('g') %>
          <i class="fa fa-circle green" aria-hidden="true"></i>
          <%elsif word.include?('b') %>
          <i class="fa fa-circle blue" aria-hidden="true"></i>
          <%elsif word.include?('v') %>
          <i class="fa fa-circle violet" aria-hidden="true"></i>

        <%end%>
      <%end%>
      <%end%><br> 
  <%end%>
  </div>
  </div>

  <form>
  <button type="submit" class="btn btn-primary" id="new_game_submit">
  Play Again!
  </button>
  </form>
  <br><br>

  </div>
  <%end%>

  <% if game_type == "user" %>
  <div id="user_guess_game" style="">
  Here's the feedback on your guess:<br>

  <% code_guess.each_char do |letter| %>

    <% if letter.include?('r') %>
      <i class="fa fa-circle red" id="r" aria-hidden="true"></i>
    <%elsif letter.include?('o') %>
      <i class="fa fa-circle orange" aria-hidden="true"></i>
      <%elsif letter.include?('y') %>
      <i class="fa fa-circle yellow" aria-hidden="true"></i>
      <%elsif letter.include?('g') %>
      <i class="fa fa-circle green" aria-hidden="true"></i>
      <%elsif letter.include?('b') %>
      <i class="fa fa-circle blue" aria-hidden="true"></i>
      <%elsif letter.include?('v') %>
      <i class="fa fa-circle violet" aria-hidden="true"></i>
    <%end%>
  <%end%>

  <%#= @saved_code %>



  <div id="feedback_box">
  <% guess_feedback.each do |line| %>
  <%= line %>
  <br>
  <%end%><br>
  
<% if game_over %>
      <form>
      <button type="submit" class="btn btn-primary" id="new_game_submit">
      Play Again!
      </button>
      </form>
  <%else%>

  <form>

    click the colors to enter a guess: <br>
    <i class="fa fa-circle red fa-2x" id="r" aria-hidden="true"></i>
<i class="fa fa-circle orange fa-2x" id="o" aria-hidden="true"></i>
<i class="fa fa-circle yellow fa-2x" id="y" aria-hidden="true"></i>
<i class="fa fa-circle green fa-2x" id="g" aria-hidden="true"></i>
<i class="fa fa-circle blue fa-2x"  id="b" aria-hidden="true"></i>
<i class="fa fa-circle violet fa-2x" id="v" aria-hidden="true"></i>
<br>

<input type="text" name="code-guess" id="guess_code_again" maxlength="4"> 
    <button type="submit" class="btn btn-primary" id="new_guess_submit">
      submit
    </button><br>
    <h5>(the code is 4 colors, there can be duplicates)</h5>
</form>
<%end%>
  </div>
  <br><br>

  </div>
  <%end%>





  

    </div>


    <script>
    <!--functionality for showing and hiding divs --> 

    $("#create-button").click(function(){
    $("#new_code").toggle();
    $("#new_game").hide();
});
    $("#guess-button").click(function(){
    $("#new_guess_game").toggle();
    $("#new_game").hide();
});
    <%# end hiding divs %>

    <%# functionality for color to code entry %>

    $(function() {
        $('#new_code i').click(function() {
            var value = $(this).attr('id');
            var input = $('#code_input');

            if (input.val().length < 4) {
              input.val(input.val() + value);}
            else {
            return false;}
        });

        $('#new_guess_game i').click(function() {
            var value = $(this).attr('id');
            var input = $('#guess_code');
            if (input.val().length < 4) {
              input.val(input.val() + value);}
            else {
            return false;}
        });

        $('#feedback_box i').click(function() {
            var value = $(this).attr('id');
            var input = $('#guess_code_again');
            if (input.val().length < 4) {
              input.val(input.val() + value);}
            else {
            return false;}
        });
    });

    </script>

  </body>
</html>